<section fxLayout="column wrap" fxLayoutAlign="center center">

  <mat-card fxFlexAlign="center">

    <mat-card-title>Front-end developer</mat-card-title>

    <form fxLayout="column wrap" fxLayoutAlign="center center"
          [formGroup]="frontEndFormGroup" autocomplete="off">
      <mat-card-content fxLayoutAlign="stretch" fxLayout="column">

        <mat-form-field appearance="standard">
          <mat-label>Имя</mat-label>
          <input matInput
                 required
                 type="text"
                 formControlName="firstNameCtrl">
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Фамилия</mat-label>
          <input matInput
                 required
                 type="text"
                 formControlName="lastNameCtrl">
        </mat-form-field>

        <mat-form-field class="date">
          <mat-label>Выбрать День Рождения</mat-label>
          <input
            matInput
            required
            formControlName="dateCtrl"
            placeholder="mm/dd/yyyy"
            [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Выбор фреймворка</mat-label>
          <mat-select
            [(value)]="selectedTechnology"
            required
            formControlName="technologyCtrl">
            <mat-option *ngFor="let jsTechnology of jsTechnologies"
                        [value]="jsTechnology.version">
              {{jsTechnology.technology}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Выбор версии фреймворка</mat-label>
          <mat-select
            [attr.disabled]="selectedTechnology == null"
            required
            formControlName="technologyVersionCtrl">
            <mat-option *ngFor="let technologyVersion of selectedTechnology"
                        [value]="technologyVersion">
              {{technologyVersion}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Емейл</mat-label>
          <input matInput
                 required
                 type="email"
                 placeholder="example@example.com"
                 formControlName="emailCtrl">
          <mat-error *ngIf="frontEndFormGroup.controls['emailCtrl'].errors?.emailExists">
            Такой email уже существует</mat-error>
        </mat-form-field>

        <div *ngFor="let hobby of hobbies; let i = index">
          <mat-form-field appearance="standard" fxFlex="12vmax">
            <mat-label>Хобби</mat-label>
            <input matInput
                   formControlName="hobbiesCtrl"
                   [(ngModel)]="hobby.name"
                   name="hobby{{i}}">
          </mat-form-field>

          <mat-form-field appearance="standard" fxFlex="12vmax">
            <mat-label>Время занятием хобби</mat-label>
            <input matInput
                   type="number"
                   formControlName="hobbiesDurationCtrl"
                   [(ngModel)]="hobby.duration"
                   name="hobby{{i}}">
          </mat-form-field>

          <button mat-flat-button (click)="removeHobby(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <button mat-flat-button (click)="addHobby()">
          Добавить хобби
        </button>

      </mat-card-content>

      <mat-card-actions align="center">
        <button mat-raised-button class="submit" type="submit" color="primary"

                (click)="sendFrontEndDataProcess(frontEndFormGroup.value)">Submit</button>
      </mat-card-actions>
    </form>

  </mat-card>

</section>
