mat-card {
  margin-top: 1.5rem;
}
mat-form-field {
  width: 60vmin;
  margin-top: 0.2rem;
}
mat-card-title {
  font-weight: bold;
  text-align: center;
}
mat-card-actions {
  align-content: center;
}
button.submit {
  width: 75vmin;
  color: white;
  background: #4E6AF9;
  border: 1px solid #4E6AF9;
  border-radius: 10px;
  margin-left: 1vmin;
}
button.submit:hover, button.submit:active {
  border: 2px solid #4E6AF9;
  margin: -1px;
}
